/*
 * Copyright (c) 2024 CATIE
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	aliases{
		gnss = &l86_zest_radio_gnss;
	};
};

&sixtron_uart {
	status = "okay";
	current-speed = <9600>;
	l86_zest_radio_gnss: l86 {
		compatible = "quectel,l86";
		pps-mode = "GNSS_PPS_MODE_DISABLED";
		status = "okay";
		// zephyr,deferred-init;
	};
};
