/*
 * Copyright (c) 2024 CATIE
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
    aliases{
        gnss = &l86_zest_radio_gnss;
    };
};

&sixtron_uart {
	status = "okay";
	current-speed = <9600>;
	l86_zest_radio_gnss: gnss {
		compatible = "quectel,lc86g";
        pps-mode = "GNSS_PPS_MODE_DISABLED";
		status = "okay";
	};
};
