/*
 * Copyright (c) 2024 CATIE
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#define PERIPHERAL_ZEST_RADIO_GNSS(port) \
	uart_zest_radio_gnss_##port: &sixtron_connector_##port##_uart {};

#define DRIVERS_ZEST_RADIO_GNSS(port) \
	&uart_zest_radio_gnss_##port { \
		status = "okay"; \
		current-speed = <9600>; \
		l86_##port##_zest_radio_gnss_##port: gnss_##port { \
			compatible = "quectel,l86"; \
			status = "okay"; \
			pps-mode = "GNSS_PPS_MODE_DISABLED"; \
		}; \
	};

#define ZEST_RADIO_GNSS(port) \
	PERIPHERAL_ZEST_RADIO_GNSS(port) \
	DRIVERS_ZEST_RADIO_GNSS(port)
